<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="directory" name="lombok-base">
        <element id="directory" name="lib">
          <element id="zip-archive" name="lombok-base.jar">
            <element id="module-output" name="lombok-base" />
          </element>
        </element>
      </element>
      <element id="directory" name="lombok-pg">
        <element id="directory" name="lib">
          <element id="zip-archive" name="lombok-pg.jar">
            <element id="module-output" name="lombok-pg" />
          </element>
        </element>
      </element>
    </root>
  </artifact>
</component>